# Ignorar diretórios do sistema e configuração local
.vscode/
__pycache__/
.ipynb_checkpoints/
.anaconda/
.conda/
.continuum/
.gitconfig
.bash_history
.ipython/
.jupyter/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.log
